.header {
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--primary-dark);

    height: 70px;
    width: 100%;
    border-radius: 0 0 20px 20px;

    padding: 15px 10px;
}

.btn {
    font-size: 36px;
    font-weight: 500;
    color: var(--white);
}